.root {
    display: flex;
}

.main-content {
    margin: 3rem 5rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    background-color: var(--color-white);
    height: 100vh;
    padding-top: 3rem;
    gap: 4rem;
    position: sticky;
    top: 0;
}

.sidebar img {
    align-self: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2rem;
    gap: 0.2rem;
}

.main-menu a {
    padding: 0.3rem;
}

.main-menu a:not(:last-child) {
    color: #969696;
}

.main-menu a:not(:last-child):hover {
    color: var(--color-black);
    background: linear-gradient(to right, var(--color-white), #1abc9c32);
    border-right: 4px solid var(--color-green);
}

.main-menu a:last-child {
    color: var(--color-red);
    margin-top: 5rem;
}

.main-menu a:last-child:hover {
    color: var(--color-red);
    background: linear-gradient(to right, var(--color-white), #d4717132);
    border-right: 4px solid var(--color-red);
}

.main-content {
    width: 100%;
}
