.caption-container {
    margin: 105px 150px;
    display: flex;
    justify-content: space-between;
}

.caption-bold {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.sub-caption {
    margin-top: 25px;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
}

.find-project {
    cursor: pointer;
    margin-top: 40px;
    width: 240px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    background: #ff872e;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.caption-cards {
    display: flex;
}

.caption-cards:hover .big-card {
    transition: 0.5s ease;
    z-index: 0;
    filter: blur(3px);
    cursor: pointer;
}

.caption-cards:hover .bg-card {
    filter: blur(0px);
}

.big-card {
    background-color: white;
    width: 370px;
    height: 420px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 200px;
    z-index: 3;
    filter: blur(0px);
    transition: 0.3s ease;
}

#drone-img {
    padding: 18px 18px 0px 18px;
}

.card-desc {
    margin: 10px 20px;
}

.card-title {
    color: #222;
    font-size: 24px;
    font-weight: 700;
}

.card-subtitle {
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.bar-container {
    width: 100%;
    margin: 20px auto;
    border-radius: 54px;
    background: #e9e9e9;
}

.bar {
    width: 70%;
    height: 10px;
    background-color: #3498db;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.progress-detail {
    display: flex;
    justify-content: space-between;
}

#percentage {
    color: #222;
    font-size: 16px;
    font-weight: 300;
}

#amount {
    color: #222;
    font-size: 16px;
    font-weight: 600;
}

.bg-card {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    z-index: 1;
    margin-left: 250px;
    margin-top: 70px;
}

.bg-card {
    filter: blur(2px);
    transition: 0.3s ease;
}

.med-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 160px;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    line-height: 30px;
    background: #fff;
    box-shadow: 6px 8px 18px 0px rgba(0, 0, 0, 0.2);
}

.profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    width: 230px;
    height: 250px;
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 8px 20px 0px rgba(0, 0, 0, 0.3);
}

.profile-name {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.profile-name .position {
    color: #969696;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 300;
}

.review {
    margin-top: 10px;
}

.sub-review {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

#star-review {
    color: #222;
    font-size: 11px;
    font-weight: 500;
}

#total-projects {
    color: #969696;
    font-size: 11px;
    font-weight: 400;
}

.steps-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 200px;
}

.steps-title {
    width: 80%;
    text-align: start;
    color: #222;
    font-size: 28px;
    font-weight: 600;
}

.steps {
    color: black;
    display: flex;
    margin-top: 100px;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 100px;
}

.step-title {
    color: #222;
    font-size: 18px;
    font-weight: 600;
}

.step-desc {
    color: #222;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
}
