.navbar-bg {
    position: absolute;
    z-index: -1;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
    margin: 0 100px;
}

.link-container {
    display: flex;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li {
    margin: 0 18px;
}

.links li:hover {
    cursor: default;
    color: #ff872e;
    transition: 0.5s;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

#user-signup:hover,
#my-account:hover {
    background-color: white;
    color: black;
    box-shadow: 3px 7px black;
    transition: 0.5s;
}

#user-signup {
    padding: 7px 52px;
    border: 1px solid white;
    border-radius: 34px;
    background: #3b41e3;
    cursor: pointer;
}

#my-account {
    cursor: pointer;
    padding: 7px 33px;
    border: 1px solid white;
    border-radius: 34px;
    background: #3b41e3;
}
