body {
    background: #3b41e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../image/rizfi/circular-bg.svg");
    background-size: cover;
    width: 700px;
    height: 700px;
}

#cover {
    margin-bottom: 30px;
    margin-top: 50px;
    /* width: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../image/rizfi/photo-profile.svg");
    background-size: cover;
}

#cover input[type="file"] {
    cursor: pointer;
    text-indent: -999em;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-name {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.profile-caption {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

#skip-button {
    margin-top: 40px;
    width: 400px;
    border: 1px solid #fff;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

#skip-button:hover {
    border: 1px solid #3b41e300;
    background-color: #ff872e;
    transition: 0.5s ease;
}
