body {
    background: #3b41e3;
}

h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
}

.signup-container {
    display: flex;
}

.image-container {
    width: 564px;
    height: 100vh;
    background: url("../../image/rizfi/signin-img.png") lightgray 50% / cover
        no-repeat;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
}

.inputs-container {
    margin-left: 25vw;
    margin-top: 100px;
}

.input-container {
    margin-top: 40px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.input label {
    font-size: 16px;
    font-weight: 600;
}

.input input {
    width: 400px;
    padding: 10px 20px;
    border-radius: 34px;
    border-style: none;
    margin-top: 5px;
    color: #222;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline-offset: 0;
}

.input input:focus {
    border: 1px solid #8286ff;
    background: #4c52f8;
    color: #fff;
    border-style: none;
    outline: none;
    outline-offset: 0;
}

.input input::placeholder {
    color: #bfbfbf;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#password-input {
    background-color: #fff;
    border-radius: 34px;
    display: flex;
    align-items: center;
}

#password-input input {
    width: 85%;
    margin-top: 0px;
}

#eye-icon {
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.next-button {
    cursor: pointer;
    margin-top: 40px;
    width: 400px;
    border-radius: 34px;
    padding: 10px 20px;
    background: #ff872e;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.login-caption {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.login-caption a {
    color: #ff872e;
    text-decoration: none;
}
