.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: inherit;
    flex-direction: column;
}

hr {
    border-top: 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    background-color: var(--color-white);
    padding: 1rem 1.4rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 0.4fr 2fr 0.6fr;
    align-items: center;
}

.text > *,
span {
    color: var(--color-black);
}

.text > *:first-child {
    font-weight: 600;
    font-size: 24px;
}

span {
    font-weight: 300;
}

.text > *:last-child {
    font-style: italic;
    font-weight: 600;
}

.list-item a h5 {
    color: var(--color-red);
    text-decoration: underline;
    justify-self: self-end;
    text-align: end;
}

.content button {
    margin-top: 3rem;
}
