.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: inherit;
    flex-direction: column;
}

hr {
    border-top: 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.pfp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border-right: 1px solid var(--color-white);
}

form {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.form-group {
    width: 100%;
    display: flex;
}

input {
    width: 80%;
}

form button {
    margin-top: 2rem;
}
