/* ============================ HEADING ============================*/

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: inherit;
    flex-direction: column;
}

.btn-back {
    border-radius: 100px;
    cursor: pointer;
    width: fit-content;
    padding: 0.5rem 2.6rem;
    background-color: var(--color-blue); /* Change this to the original color */
    color: var(--color-white);
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.btn-back:hover {
    background-color: var(--color-green); /* Change this to the hover color */
}

.btn-back:active {
    transform: translateY(2px);
    box-shadow: 0 2px var(--color-black);
}

hr {
    border-top: 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ============================ CONTENT ============================*/

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 0.01fr 3fr 2fr;
    gap: 0.2rem;
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: 8px;
}

.wrapper * {
    color: var(--color-black);
}

.wrapper > img {
    align-self: center;
    justify-self: center;
}

.wrapper > a {
    align-self: center;
    justify-self: center;
    font-size: 12px;
}

.btn-secondary {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 100px;
    padding: 0.5rem 1rem;
    margin: 10px; /* Adjust margin as needed */
}

.text h5 {
    font-weight: 600;
    margin-bottom: 10px;
}

.text p:not(:last-child) {
    font-weight: 400;
    padding: 0 20px;
    margin-bottom: 10px;
}

.text p:last-child {
    font-weight: 200;
}
