.gallery {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.proj-title {
    color: #222222;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    margin-top: 20px;
}

.title {
    color: #FF872E;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    margin-top: 55px;
    margin-bottom: 55px;
}

.nominal-container {
    height: 460px;
    padding: 90px 280px;
    background: #FF872E; 
    box-shadow: 0px 4px 12px rgba(0, 200, 156, 0.30); 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.option-container {
    width: 900px;
    height: 215px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 30px;
}

.option {
    width: 275px; 
    height: 95px; 
    align-items: center;
    border-radius: 8px; 
    overflow: hidden; 
    border: 1px #00725E solid; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
}

.other-opt {
    width: 575px; 
    height: 95px; 
    align-items: center;
    border-radius: 8px; 
    overflow: hidden; 
    border: 1px #00725E solid; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
}

.amount {
    font-size: 20px; 
    font-family: Work Sans; 
    font-weight: 500; 
    line-height: 24px; 
    color: rgba(0, 0, 0, 0.70); 
}

.option:hover,
.other-opt:hover,
.option:hover .amount,
.other-opt:hover .amount {
    color:white;
    background: #3B41E3;
}

.fund-act {
    cursor: pointer;
    margin-top: 40px;
    width: 225px; 
    height: 60px;
    border-radius: 34px; 
    background: #3B41E3; 
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}