.succ-card {
    width: 100%;
    max-width: 872px;
    height: 488px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #BFBFBF;
    padding: 32px 42px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 75px auto;
}

.succ-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 300;
}

.succ-date, .succ-user {
    color: black;
}

.succ-line {
    border: none;
    border-top: 3px #FF872E solid;
    margin: 20px 0
}

.succ-stat {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.succ-stat i {
    font-size: 50px;
    color: #0FA958;
}

.succ-stat-txt {
    font-size: 20px;
    font-family: Poppins;
    font-weight: 300;
    color: black;
}

.succ-title {
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
    align-self: center;
    margin: 16px 0;
}

.succ-pay {
    padding: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(255, 135, 46, 0.20);
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
    margin-top: 43px;
}

.sptxt, 
.spnom {
    color: black;
}

.succ-method {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: 20px;
}

.smtxtl, .smtxtr {
    color: black;
}