.main-container {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 930px;
    height: 100%;
}

.gallery {
    width: 100%;
    height: 100%;
}

.mySwiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 925px;
    height: 550px;
}

.mySwiper swiper-slide {
    width: 923px;
    height: 548px;
    background: #fff;
    border-radius: 20px; 
    border: 1px #BFBFBF solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper swiper-slide img {
    width: 895px;
    height: 520px;
    border-radius: 20px;
    border: 1px #BFBFBF solid;
    margin: 15px;
    object-fit: cover;
}

.main-container .detail-container swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper2 {
    margin-top: 20px;
    width: 925px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mySwiper2 swiper-slide {
    width: 218px;
    height: 158px;
    background: #fff;
    border-radius: 20px; 
    border: 1px hsl(0, 0%, 75%) solid;
}

.mySwiper2 swiper-slide img {
    width: 200px;
    height: 140px;
    border-radius: 20px;
    margin: 10px;
    object-fit: cover;
    border: 1px #BFBFBF solid;;
    opacity: 1;
}

.mySwiper2 .swiper-slide-thumb-active {
    opacity: 0.4;
}

.desc-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-evenly;
}

.desc-title {
    color: #222222;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word
}

.desc-subtitle {
    color: #222222;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: flex-start;
}

.bar-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress-detail {
    width: 738px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#percentage {
    color: #222222;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 300;
}

#amount {
    color: #222222;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
}

.desc-text {
    width: 738px;
    color: #222222;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: 30px;
    word-wrap: break-word
}

.profile-card {
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 245px;
    height: 440px;
    border-radius: 20px;
    border: 1px #BFBFBF solid;
    background: #fff;
    padding: 25px;
}

.position {
    color: #222222;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.profile-user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.profile-name {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.backer {
    color: #C2C2C2;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

.ben-head {
    color: #222222;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word
}

.benefit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ben-text {
    margin-left: 10px;
    color: #222222;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

.fund-project {
    cursor: pointer;
    margin-top: 40px;
    width: 250px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    background: #ff872e;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}