.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: inherit;
    flex-direction: column;
}

.profile {
    display: inherit;
    background-color: var(--color-white);
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    height: fit-content;
}

.profile-text {
    display: inherit;
    flex-direction: column;
}

.profile-text > * {
    color: var(--color-black);
    font-size: 14px;
}

hr {
    border-top: 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Content */

.statistic {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.graph {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 20px;
    min-height: 20vh;
    padding: 1rem;
}

.graph > * {
    color: var(--color-black);
}

.sub-statistic {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.sub-statistic > * {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 1.5rem 2rem;
    min-width: 20vw;
}

.sub-statistic p {
    font-weight: 300;
}

.sub-statistic > * > * {
    color: var(--color-black);
}

.recent {
    display: flex;
    flex-direction: column;
}

.recent-lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recent-lists a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 15px;
}

.recent-lists a > * {
    color: var(--color-black);
}

