/* ============================ HEADING ============================*/

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: inherit;
    flex-direction: column;
}

.profile {
    display: inherit;
    background-color: var(--color-white);
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    height: fit-content;
}

.profile-text {
    display: inherit;
    flex-direction: column;
}

.profile-text > * {
    color: var(--color-black);
    font-size: 14px;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.filter {
    background-color: transparent;
    border: 1px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1.4rem;
    margin-bottom: 1rem;
    position: absolute;
}

#filter-card {
    width: 400px;
    border-radius: 2px 8px 8px 8px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    position: relative;
    top: 70px;
    z-index: 5;
}

.filter-name {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e9e9e9;
}

.startup-name {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.startup-name.active {
    color: #fa852e;
}

.wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.5fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-white);
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

.wrapper * {
    color: var(--color-black);
}

.wrapper > :last-child {
    color: var(--color-red);
}
