.auth-content {
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.auth-content > div {
    margin: 0 2px;
}
