/* ============================ HEADING ============================*/

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: flex;
    gap: 1.5rem;
}

.profile {
    display: inherit;
    background-color: var(--color-white);
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    height: fit-content;
}

.profile-text {
    display: inherit;
    flex-direction: column;
}

.profile-text > * {
    color: var(--color-black);
    font-size: 14px;
}


/* Content */

.content {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.saldo {
    position: relative;
}

.saldo >:first-child {
    position: absolute;
    font-weight: 400;
    top: 4rem;
    left: 2rem;
}

.saldo >:last-child{
    width: 100%;
}

.part:nth-child(2) > p {
    color: var(--color-black);
    background-color: var(--color-white);
    width: 100%;
    height: 15vh;
    padding: 1rem;
    border-radius: .2rem;
}

.month {
    display: flex;
    gap: 1rem;
}

.month > * {
    margin-top: 2rem;
    color: #B7B8E7;
}

.month > *:hover {
    color: var(--color-white);
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
}

.item {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(2, 1fr);
    background-color: var(--color-white);
    padding: 1.8rem 2rem;
    border-radius: 8px;
    align-items: center;
}

.item > * {
    color: var(--color-black);
}

.profit > h2 {
    color: var(--color-green);
}

.loss > h2 {
    color: var(--color-red);
}
