/* ============================ HEADING ============================*/

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: inherit;
    flex-direction: column;
}

.profile {
    display: inherit;
    background-color: var(--color-white);
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    height: fit-content;
}

.profile-text {
    display: inherit;
    flex-direction: column;
}

.profile-text > * {
    color: var(--color-black);
    font-size: 14px;
}

hr {
    border-top: 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ============================ CONTENT ============================ */

.statistic {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.graph {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 20px;
    min-height: 20vh;
    padding: 1rem;
}

.graph > * {
    color: var(--color-black);
}

.recent {
    display: flex;
    flex-direction: column;
}

.recent-lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recent-lists a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 15px;

    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    gap: 0.2rem;
    background-color: var(--color-white);
    padding: 0.8rem;
    border-radius: 8px;
}

.recent-lists a > * {
    color: var(--color-black);
}

/* Add this CSS to your existing styles */
.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-overlay {
    position: absolute;
    top: 35px; /* Posisi dari atas */
    left: 35px; /* Posisi dari kiri */
    color: #fff; /* Warna teks */
    font-size: 32px;
    font-weight: bold;
    text-align: left; /* Posisi teks, bisa diubah menjadi 'center' jika diperlukan */
    padding: 15px; /* Padding untuk menambahkan ruang di sekitar teks */
    border-radius: 10px; /* Menggunakan sudut yang melengkung pada latar belakang */
    z-index: 1; /* Menentukan urutan tumpukan, memastikan teks berada di atas gambar */
}

.image-overlay p {
    font-size: 30px; /* Ukuran teks 'Jumlah Investasi Anda' */
    margin: 0; /* Menghapus margin bawaan dari <p> */
}
/* Adjust styles as needed */

/*Tombol Search*/

/* New styles for search button */
.search-container {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; /* Align to the right */
    margin-top: 20px; /* Adjust as needed */
    width: 208px;
    height: 30px;
    padding: 0px 16px;
    justify-content: space-between;
    flex-shrink: 0;
}

.search-container input {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* ============================ gambar di dalam ============================ */

.sub-statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    border-radius: 8px;
    overflow: hidden; /* Mengatasi overflow dari border */
}

.sub-statistic .isi-konten {
    display: flex;
    align-items: center;
}

.sub-statistic .border-container {
    display: flex;
    border: 1px solid var(--color-black); /* Ganti dengan warna yang diinginkan */
    border-radius: 15px; /* Menambah properti border-radius */
    overflow: hidden; /* Mengatasi overflow dari border */
    width: 312px;
    height: 160px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    background: #fff; /* Menambah properti background */
}

.sub-statistic .gambar-konten {
    margin-left: 5rem;
}

.sub-statistic .tulisan-konten {
    padding: 1.5rem 2rem;
    min-width: 20vw;
    max-width: 50%; /* Maksimum lebar tulisan 50% dari container */
    color: black; /* Menambah properti warna tulisan menjadi hitam */
}

.sub-statistic h4,
.sub-statistic p {
    margin: 0;
    color: black; /* Menambah properti warna tulisan */
}

.sub-statistic p {
    font-weight: 300;
}

.sub-statistic > * {
    color: var(--color-black);
}

.sub-statistic img {
    max-width: 50px;
    max-height: 100%;
}
