/* ============================ HEADING ============================*/

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: inherit;
    flex-direction: column;
}

.profile {
    display: inherit;
    background-color: var(--color-white);
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    height: fit-content;
}

.profile-text {
    display: inherit;
    flex-direction: column;
}

.profile-text > * {
    color: var(--color-black);
    font-size: 14px;
}

hr {
    border-top: 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ============================ CONTENT ============================ */

.statistic {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Add this CSS to your existing styles */
.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-overlay {
    position: absolute;
    top: 35px; /* Posisi dari atas */
    left: 35px; /* Posisi dari kiri */
    color: #fff; /* Warna teks */
    font-size: 32px;
    font-weight: bold;
    text-align: left; /* Posisi teks, bisa diubah menjadi 'center' jika diperlukan */
    padding: 15px; /* Padding untuk menambahkan ruang di sekitar teks */
    border-radius: 10px; /* Menggunakan sudut yang melengkung pada latar belakang */
    z-index: 1; /* Menentukan urutan tumpukan, memastikan teks berada di atas gambar */
}

.image-overlay p {
    font-size: 30px; /* Ukuran teks 'Jumlah Investasi Anda' */
    margin: 0; /* Menghapus margin bawaan dari <p> */
}
/* Adjust styles as needed */

/* sub-judul */
.sub-judul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-button {
    position: relative;
}

.search-button button {
    position: absolute;
    right: 1.5rem;
    top: 0.75rem;
    padding: 0;
    background-color: transparent;
    border: transparent;
}

/* ============================ List ============================ */

.list-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 12px;
    width: 30%;
}

.tulisan-konten > * {
    color: var(--color-black);
}

/* .sub-statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    border-radius: 8px;
}

.sub-statistic .isi-konten {
    display: flex;
    align-items: center;
}

.sub-statistic .border-container {
    display: flex;
    border: 1px solid var(--color-black);
    border-radius: 15px;
    overflow: hidden;
    width: 312px;
    height: 160px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    background: #fff;
}

.sub-statistic .gambar-konten {
    margin-left: 5rem;
}

.sub-statistic .tulisan-konten {
    padding: 1.5rem 2rem;
    min-width: 20vw;
    max-width: 50%;
    color: black;
}

.sub-statistic h4,
.sub-statistic p {
    margin: 0;
    color: black;
}

.sub-statistic p {
    font-weight: 300;
}

.sub-statistic > * {
    color: var(--color-black);
}

.sub-statistic img {
    max-width: 50px;
    max-height: 100%;
} */
